---
import Header from "../components/sections/header/Header.astro";
import Layout from "../layouts/Layout.astro";
import AdminPage from "../components/panel/AdminPage";
---

<Layout title="Programming in Practice" light={true}>
  <main>
    <AdminPage client:load />
  </main>
</Layout>
<style>
  main {
    height: 100vh;
  }
  html {
    background-color: white;
  }
</style>
<script
  src="https://widget.cloudinary.com/v2.0/global/all.js"
  type="text/javascript"
></script>
