---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-yellow-800 font-light text-4xl">Under Construction</h1>
	</main>
</Layout>
<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		@apply bg-yellow-100
	}
</style>
