---
---

<div>
  <div class="text-mono-text max-w-3xl mx-auto px-10 flex flex-col gap-4">
    <h1 class="text-mono-a text-3xl font-title">Sign up for Texts</h1>
    <p class="max-w-xs">
      Real SMS, not Remind. We'll send you alerts about new meetings and other
      events. Uses our student-made API.
    </p>
  </div>
</div>
