---
import { FaDiscord } from "react-icons/fa/index.js";
import Button from "../../Button";
export interface Props {
	title: string;
    description: string;
    image: string;
    callToAction: string;
    discordLink: string;
}

const { title, description, image, callToAction, discordLink } = Astro.props;
---
<section id="header" class="w-full">
    <div class="bg-header-image-overlay relative">
        <div class="w-full h-60 from-black/0 to-black/100 bg-gradient-to-b absolute bottom-0"></div>
        <div class="md:text-center flex flex-col gap-10 pt-20 pb-40 relative px-10">
            <h1 class="text-mono-a font-title font-extrabold text-4xl">{title}</h1>
            <p class="text-mono-b max-w-sm md:mx-auto">{description}</p>
            <div class="md:mx-auto flex flex-col gap-4 w-fit">

                <div>
                    { callToAction === "add phone number" && <Button icon="message">Get Involved</Button> }
                </div>
                <div class="flex items-ceter text-mono-c gap-2 items-center md:mx-auto w-fit">
                    <a href={discordLink}>Join our Discord</a>
                </div>
            </div>
        </div>
    </div>
</section>