---
import Meeting, { MeetingData } from "./Meeting";
import PreviousMeetings from "./PreviousMeetings";

export interface Props {
	meetings : MeetingData[];
};

const meetings = Astro.props.meetings.sort((a, b) => {
	return Date.parse(b.date) - Date.parse(a.date);
});

const isUpcoming = (date: string) => {
	return Date.parse(date) > Date.now();
}

---
<section id="header" class="w-full bg-section-bg-purple py-20`">

	<div class="flex flex-col py-10">

		{ meetings.splice(0, 2).map((meeting, idx) => {
			return <Meeting upcoming={isUpcoming(meeting.date)} {...meeting} />
		})}

		<PreviousMeetings meetings={meetings} client:visible />
	
	</div>
</section>