---
import Paragraph, { ParagraphData } from "./Paragraph.astro";
import Carousel from "./Carousel";

export interface Props {
	paragraphs: ParagraphData[];
}

const { paragraphs } = Astro.props;
---
<section id="paragraphs" class="w-full bg-black">
    <div class="mx-auto max-w-4xl flex justify-between">

        <div class="flex flex-col gap-20">
            {
                paragraphs.map((par) => {
                    return (
                        <Paragraph {...par} />
                        )
                    })
                }

</div>
<div>
    <Carousel count={paragraphs.length} />
</div>
</div>
</section>