---
import Banner from "../../components/Banner.astro";
import Layout from "../../layouts/Layout.astro";
import SubscribeForm from "../../components/subscribe/SubscribeForm";
import axios from "axios";

export async function getStaticPaths() {
  const res = await axios.get(
    "https://lasapip.com/api/newsletter/getNewsletterPaths"
  );
  console.log(res.data);

  return res.data["newsletterPaths"].map((path: string) => {
    return {
      params: {
        slug: path,
      },
    };
  });
}
---

<Layout
  title="Subscribe - Programming in Practice"
  light={true}
  og={{
    title: "The PIP Newsletter",
    description: "you join subscribe 👀",
    image: "https://lasapip.com/icon-256.png",
    url: "https://lasapip.com/subscribe",
  }}
/>
<h1>Hello World</h1>
