---
import { IoArrowBack } from "react-icons/io5/index.js";
---

<a href="/">
  <div
    class="flex flex-row items-center gap-4 bg-accent-a py-4 px-8 hover:bg-accent-b cursor-pointer select-none"
  >
    <IoArrowBack />
    <p>Back to Home</p>
  </div>
</a>
