---
---

<div>
  <div class="text-mono-text max-w-3xl mx-auto px-10 flex flex-col gap-4">
    <h1 class="text-mono-a text-3xl font-title">Outreach Portal</h1>
    <p class="max-w-xs">
      This is our hub for distributing outreach-related links. 
    </p>
  </div>
</div>
