---
export interface Props {
  title: string;
  links: {
    link: string;
    title: string;
    header: number;
  }[];
  description: string;
}

const { title, links, description } = Astro.props;
---
<div class="max-w-3xl mx-auto p-10 bg-mono-border rounded-xl flex flex-col gap-4">
    <h3 class="text-xl text-mono-a font-semibold font-title">{title}</h3>
    <p class="text-mono-b text-base font-body leading-loose">{description}</p>  
    <div class="flex gap-4">
    { links.map((link) => (
        <a href={link.link} class="bg-offaccent-d py-2 px-4 rounded-lg border border-offaccent-c text-offaccent-a"
            referrerpolicy="no-referrer" target="_blank" rel="noopener noreferrer"
        >{link.title}</a>
    ))}
    </div>
</div>
