---
export interface Props {
  title: string;
  links: {
    link: string;
    team: number;
    header: number;
  }[];
  description: string;
}

const { title, links, description } = Astro.props;
---
<div>
    <h3 class="text-mono-a text-xl font-title">{title}</h3>
    <p class="text-mono-a text-sm font-body">{description}</p>  
    { links.map((link) => (
        <a href={link.link} class="text-mono-a text-sm font-body">{link.team}</a>
    ))}
</div>